version: '3.8'

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: techieplanet
      POSTGRES_USER: timiolowookere
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/techieplanet
      SPRING_DATASOURCE_USERNAME: timiolowookere
      SPRING_DATASOURCE_PASSWORD: 1234

volumes:
  pgdata:
